/*#region Common*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bld-white: #ffffff;
    --bld-light: #fff9f4;
    --bld-black: #000000;
    --bld-darker: #060406;
    --bld-dark: #1a1a1a;
    --bld-bg-header: #ff6900;
    --bld-bg-percent: #ff0000;
    --bld-sales_price: #ff1815;
    --bld-bg-offer: #008000;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.row{
    padding: 3.5rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/*#endregion Common*/

/*#region Header*/

#page_header{
    max-height: 100px;
    width:100%;
    background-color: var(--bld-bg-header);
    /*position:fixed;*/
    color: var(--bld-light);
    font-size: 15px;
}

.header_container{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}

.client, .logo, .account{
    min-height: 50px;
}

header a{
    text-decoration: none;
    color: var(--bld-light);
    padding: 0 0.2rem;
}

header a:hover{
    text-decoration: underline;
}

/*#endregion Header*/

/*#region Main*/

main{
    background-color: var(--bld-white);
}

.col {
    padding: 15px;
    width: calc(100%/3);
    height: 500px;
}

.col img{
    width: 100%;
}



footer{
    background-color: var(--bld-dark);
}