/*#region Common*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:foot{
    --bld-white: #ffffff;
    --bld-light: #fff9f4;
    --bld-black: #000000;
    --bld-darker: #060406;
    --bld-dark: #1a1a1a;
    --bld-bg-header: #ff6900;
    --bld-bg-percent: #ff0000;
    --bld-sales_price: #ff1815;
    --bld-bg-offer: #008000;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.row{
    padding: 3.5rem;
}

/*#endregion Common*/

/*#region Debug*/
.debug header{
    min-height: 50px;
    width:100%;
    /*position:fixed;*/
    background-color: orangered;
}

.debug .header_container {
    background-color: yellow;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .client, .debug .account{
    border-style: dashed;
    width: 20%;
}

.debug .logo {
    border-style: dashed;
    width: 60%;
}

.debug .container{
    background-color: yellow;
    width: 80%;
    margin: auto;
}

.debug footer{
    background-color: rgba(20, 20, 20, 0.701);
    min-height: 130px;
}
/*#endregion Debug*/

/*#region Header*/

.header_container{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client, .logo, .account{
    min-height: 50px;
    
}
/*#endregion Header*/

/*#region Main*/

main{
    background-color: beige;
}

.col {
    padding: 15px;
    width: calc(100%/3);
    height: 500px;
}

.col img{
    width: 100%;
}



